body{
    margin: 0px;
}
 input{
    height: 60px;
    width: 300px;
    
 }

.container{
    width: 100vw;
    height: 100vh;
    background: #e1ecf2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.h1{
    background: #8fcef2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   

}

.form-box{
    width: 305px;
    height: 340px;
    background: #fff;
    border: solid 3px;
    border-color: black;
    box-shadow: 19px -10px teal;
    border-style: ridge;
    text-align: center;
}

.table{
    display: inline;
    border: solid black;
    background:  teal;
    
}

#button{
    width: 150px;
}